<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>
  <connectionStrings>
    <add name="BusProjectEntities" connectionString="metadata=res://*/BusProject.csdl|res://*/BusProject.ssdl|res://*/BusProject.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=cn76.ipdisk.co.kr,3423;initial catalog=_BusSystem;user id=8F;password=3512;multipleactiveresultsets=True;application name=EntityFramework&quot;"
      providerName="System.Data.EntityClient" />
    <add name="BusProject.Properties.Settings._BusSystemConnectionString"
      connectionString="Data Source=kimpro;Initial Catalog=_BusSystem;Persist Security Info=True;User ID=sa;Password=3512;MultipleActiveResultSets=True;Application Name=EntityFramework"
      providerName="System.Data.SqlClient" />
    <add name="BusProject.Properties.Settings._BusSystemConnectionString1"
      connectionString="Data Source=cn76.ipdisk.co.kr,3423;Initial Catalog=_BusSystem;User ID=8F;Password=3512;MultipleActiveResultSets=True;Application Name=EntityFramework"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>